<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         bootstrap="Tests/bootstrap.php">
    <php>
        <ini name="display_errors" value="true"/>
    </php>
    <testsuites>
        <testsuite name="part-1">
            <file>tests/Keboola/ForecastioAugmentation/CacheStorageTest.php</file>
            <file>tests/Keboola/ForecastioAugmentation/UserStorageTest.php</file>
            <file>tests/Keboola/ForecastioAugmentation/AugmentationTest.php</file>
            <file>tests/Keboola/ForecastioAugmentation/FunctionalTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
